<header>
    <a href="/" class="logo text-center">{{.Topbar.Logo}}</a>
    <nav class="top-nav">
        <ul>
            <li><a class="kapan" href="/gallery">{{.Topbar.Home}}</a></li>
            <li>
                <a class="kapan1"  href="/#future"
                >{{.Topbar.Future}}</a
                >
            </li>
            <li>
                <a class="kapan2"  href="#portfolio"
                >{{.Topbar.Port}}</a
                >
            </li>
            <li>
                <a class="kapan3" href="#contact"
                >{{.Topbar.Contact}}</a
                >
            </li>
            {{if .Bool}}
            <li>
                <a  class="kapan4" href="/login">Login</a>
            </li>
            {{else}}
            <li>
                <a class="kapan4" href="/logout">Logout</a>
            </li>
            {{end}}
        </ul>
    </nav>
    <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>

<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
        hamburger.classList.toggle("sticky", window.scrollY > 0);
    });
</script>
