<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/admin.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Admin</title>
  </head>
  <body>
    <div class="container den">
      <div class="jumbotron">
        <div class="card">
          <div class="card-body">
            <tr>
              <th>
                <div class="float-end"></div>
              </th>
              <th><h4 class="my-4">Users</h4></th>
            </tr>
            <table class="table table-dark table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th><div class="float-end">ACTIONS</div></th>
                </tr>
              </thead>
              {{range $index, $deger := .}}
              <tbody>
                <tr>
                  <th>{{$index}}</th>
                  <td>{{$deger.Fullname}}</td>
                  <td>{{$deger.Information}}</td>
                  <td>{{$deger.Mail}}</td>
                  <td>
                    <div class="float-end">
                      <form action="/edit/{{$deger.ID}}" method="POST">
                        <input
                          name="Fullname"
                          type="text"
                          placeholder="Full Name"
                          class="form-control my-3 p-4"
                        />
                        <input
                          name="phone"
                          type="text"
                          placeholder="Phone Number"
                          class="form-control my-3 p-4"
                        />
                        <input
                          name="email"
                          type="email"
                          placeholder="Email Adress"
                          class="form-control my-3 p-4"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary rounded-pill"
                          style="width: 80px"
                        >
                          Edit
                        </button>
                      </form>
                      <form action="/delete/{{$deger.ID}}" method="POST">
                        <button
                          type="submit"
                          class="btn btn-danger rounded-pill"
                          style="width: 80px"
                        >
                          Delete
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
              </tbody>
              {{end}}
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("id01");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
