* {
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    text-transform: uppercase;
}
nav{
  display: inline-flex;
    align-items: end !important;

}
body {
    margin-top: 7%;
    background-color: rgb(219, 226, 226);
}

.rowBody {
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
